<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<select name="zones" id="zone1">
			<option value="">--Select a time zone--</option>
			<option value="-5">EST</option>
			<option value="0">UTC</option>
			<option value="8">CST</option>
			<option value="2">CEST</option>
		</select>
		<select name="zones2" id="zone2">
			<option value="">--Select a time zone--</option>
			<option value="-5">EST</option>
			<option value="0">UTC</option>
			<option value="8">CST</option>
			<option value="2">CEST</option>
		</select>
		<br></br>
		<button type="button" onclick="getSelected()">Submit</button>
		<p>UTC: <span id="UniversalDatetime"></span></p>
		<p>Time in your zone: <span id="localDatetime"></span></p>
		<p>Possible times: <span id="display1"></span></p>
		<script type="text/javascript">
			console.log("Hello World");
			function getSelected() {
				var sel1 = document.getElementById("zone1");
				var sel2 = document.getElementById("zone2");
				console.log(sel1.value);
				console.log(sel2.value);
				var ti = new Date();
				var lch = ti.getHours();
				var lcm = ti.getMinutes();
				var lcs = ti.getSeconds();
				document.getElementById("localDatetime").innerHTML = lch + ":" + lcm + ":" + lcs;
				var utch = ti.getUTCHours();
				var utcm = ti.getUTCMinutes();
				var utcs = ti.getUTCSeconds();
				document.getElementById("UniversalDatetime").innerHTML = utch + ":" + utcm + ":" + utcs;
				//check when both timezones are greater than 8 but less than 21
				var z1h = 12 + parseInt(sel1.value);
				var z2h = 12 + parseInt(sel2.value);
				var accpTm1 = [];
				var accpTm2 = [];
				for (let x = 0; x < 24; x++) {
					z1h++;
					z2h++;
					if (z1h > 23) {
						z1h = 0;
					}
					if (z2h > 23) {
						z2h = 0;
					}
					if (7 < z1h && z1h < 22 && 7 < z2h && z2h < 22) {
						accpTm1.push(z1h);
						accpTm2.push(z2h);
					}
				}
				document.getElementById("display1").innerHTML = "<p>Times in zone 1 : " + accpTm1 + "</p><p>Times in zone 2 : " + accpTm2 +"</p>";
			}
		</script>
	</body>
</html>
