<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles.css" type="text/css">
		<title>Home</title>
	</head>
	<body>
		<div>
			<p>Time Zone 1 </p>
			<p>Time Zone 2</p>
		</div>
		<select name="zones" id="zone1">
			<option value="">--Select a Time Zone--</option>
			<option value="-5">EST/UTC-5</option>
			<option value="-8">PST/UTC-8</option>
			<option value="0">UTC</option>
			<option value="8">CST/UTC+8</option>
			<option value="2">CEST/UTC+2</option>
			<option value="local">Local Time Zone</option>
		</select>
		<select name="zones2" id="zone2">
			<option value="">--Select a Time Zone--</option>
			<option value="-5">EST/UTC-5</option>
			<option value="-8">PST/UTC-8</option>
			<option value="0">UTC</option>
			<option value="8">CST/UTC+8</option>
			<option value="2">CEST/UTC+2</option>
			<option value="local">Local Time Zone</option>
		</select>
		<p>Earliest Time Available:</p>
		<input type="number" max=23 min=0 step=1 id="minTime" value=8></input>
		<p>Latest Time Available:</p>
		<input type="number" max=23 min=0 step=1 id="maxTime" value=22></input>
		<br>
		<br>
		<button type="button" onclick="getSelected()">Submit</button>
		<p>Potential Time Slots: <span id="display1"></span></p>
		<script type="text/javascript">
			function getSelected() {
				var sel1 = document.getElementById("zone1");
				var sel2 = document.getElementById("zone2");
				var ti = new Date();
				var lch = ti.getHours();
				var utch = ti.getUTCHours();
				var lcl = -1 *(utch - lch);
				if (sel1.value == "local") {
					var z1h = 0 + parseInt(lcl);
				} else {
					var z1h = 0 + parseInt(sel1.value);
				}
				if (sel2.value == "local") {
					var z2h = 0 + parseInt(lcl);
				} else {
					var z2h = 0 + parseInt(sel2.value);
				}
				console.log(z1h);
				console.log(z2h);
				var accpTm1 = [];
				var accpTm2 = [];
				var minTi = document.getElementById("minTime");
				var maxTi = document.getElementById("maxTime");
				if (minTi.value > maxTi.value) {
					minTi.value == maxTi.value;
				}
				for (let x = 0; x < 24; x++) {
					z1h++;
					z2h++;
					if (z1h > 23) {
						z1h = 0;
					} else if (z1h < 0) {
						z1h = 24 - Math.abs(z1h);
					}
					if (z2h > 23) {
						z2h = 0;
					} else if (z1h < 0) {
						z2h = 24 - Math.abs(z2h);
					}
					console.log(minTi.value);
					console.log(maxTi.value);
					if (minTi.value != null && maxTi.value != null) {
						if (minTi.value <= z1h && z1h <= maxTi.value && minTi.value <= z2h && z2h <= maxTi.value) {
							accpTm1.push(z1h);
							accpTm2.push(z2h);
						}
					} else {
						if (7 <= z1h && z1h <= 23 && 7 <= z2h && z2h <= 23) {
							accpTm1.push(z1h);
							accpTm2.push(z2h);
						}
					}
				}
				var short1 = cmbnCnsctv(accpTm1);
				var short2 = cmbnCnsctv(accpTm2);
				console.log(accpTm1);
				console.log(accpTm2);
				console.log(short1);
				console.log(short2);

				if (short1 != null && short2 != null && short1 != undefined && short2 != undefined && short1.length != 0 && short2.length != 0) {
					document.getElementById("display1").innerHTML = "<p>Times in Zone 1 : " + short1[0] + ":00-" + short1[1] + ":00</p><p>Times in Zone 2 : " + short2[0] + ":00-" + short2[1] + ":00</p>";
				} else {
					document.getElementById("display1").innerHTML = "<p>No times found</p>"
				}
				if (short1 != null && short1.length > 2 && short2.length > 2) {
					document.getElementById("display1").innerHTML = "<p>Times in Zone 1 : " + short1[0] + ":00-" + short1[1] + ":00, " + short1[2] + ":00-" + short1[3] + ":00</p><p>Times in Zone 2 : " + short2[0] + ":00-" + short2[1] + ":00, " + short2[2] + ":00-" + short2[3] + ":00</p>";
				}
			}
			function cmbnCnsctv(array) {
				if (array == undefined || array.length == 0) {
					return null;
				}
				let out = [];
				var end = 0;
				for (let i = 0; i < array.length; i++) {
					let diff = array[i + 1] - array[i]
					if (diff == 1) {
						end++;
					} else {
						break;
					}
				}
				out.push(array[0]);
				out.push(array[end]);
				if (end < array.length - 1) {
					var end2 = end + 1;
					for (let i = end; i < array.length - 1; i++) {
						let diff = array[i + 1] - array[i]
						console.log("i=" + i);
						if (diff == 1) {
							end2++;
						} else {
							break;
						}
					}
				out.push(array[end + 1]);
				out.push(array[end2]);
				}
				return out;
			}
		</script>
	</body>
</html>
