<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles.css" type="text/css">
		<title>Home</title>
	</head>
	<body>
		<p>Time zone 1 </p>
		<p>Time zone 2</p>
		<select name="zones" id="zone1">
			<option value="">--Select a time zone--</option>
			<option value="-5">EST/UTC-5</option>
			<option value="-8">PST/UTC-8</option>
			<option value="0">UTC</option>
			<option value="8">CST/UTC+8</option>
			<option value="2">CEST/UTC+2</option>
			<option value="local">Local Time zone</option>
		</select>
		<select name="zones2" id="zone2">
			<option value="">--Select a time zone--</option>
			<option value="-5">EST/UTC-5</option>
			<option value="-8">PST/UTC-8</option>
			<option value="0">UTC</option>
			<option value="8">CST/UTC+8</option>
			<option value="2">CEST/UTC+2</option>
			<option value="local">Local Time zone</option>
		</select>
		<br></br>
		<button type="button" onclick="getSelected()">Submit</button>
		<p>Potential Time Slots: <span id="display1"></span></p>
		<script type="text/javascript">
			function getSelected() {
				var sel1 = document.getElementById("zone1");
				var sel2 = document.getElementById("zone2");
				var ti = new Date();
				var lch = ti.getHours();
				var utch = ti.getUTCHours();
				var lcl = -1 *(utch - lch);
				if (sel1.value == "local") {
					var z1h = 0 + parseInt(lcl);
				} else {
					var z1h = 0 + parseInt(sel1.value);
				}
				if (sel2.value == "local") {
					var z2h = 0 + parseInt(lcl);
				} else {
					var z2h = 0 + parseInt(sel2.value);
				}
				console.log(z1h);
				console.log(z2h);
				var accpTm1 = [];
				var accpTm2 = [];
				for (let x = 0; x < 24; x++) {
					z1h++;
					z2h++;
					if (z1h > 23) {
						z1h = 0;
					} else if (z1h < 0) {
						z1h = 24 - Math.abs(z1h);
					}
					if (z2h > 23) {
						z2h = 0;
					} else if (z1h < 0) {
						z2h = 24 - Math.abs(z2h);
					}
					console.log("z1h " + z1h);
					console.log("z2h " + z2h);
					if (7 < z1h && z1h < 23 && 7 < z2h && z2h < 23) {
						accpTm1.push(z1h);
						accpTm2.push(z2h);
					}
				}
				var short1 = cmbnCnsctv(accpTm1);
				var short2 = cmbnCnsctv(accpTm2);
				console.log(accpTm1);
				console.log(accpTm2);

				document.getElementById("display1").innerHTML = "<p>Times in Zone 1 : " + short1[0] + ":00-" + short1[1] + ":00</p><p>Times in Zone 2 : " + short2[0] + ":00-" + short2[1] + ":00</p>";
			}
			function cmbnCnsctv(array) {
				let out = [];
				var end = 0;
				for (let i = 0; i < array.length; i++) {
					let diff = array[i + 1] - array[i]
					if (Math.abs(diff) == 1) {
						end++;
					}
				}
				out.push(array[0]);
				out.push(array[end]);
				return out;
			}
		</script>
	</body>
</html>
